<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-inappmessaging"
      version="3.0.1">

    <name>cordova-plugin-firebase-inappmessaging</name>
    <description>Cordova plugin for Firebase In-App Messaging</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-inappmessaging</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-inappmessaging/issues</issue>

    <dependency id="cordova-plugin-firebase-analytics" version="~4.0.0"/>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <platform name="ios">
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="Firebase/InAppMessaging" spec="~> 6.3.0" />
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_INAPPMESSAGING_VERSION" default="19.0.+"/>

        <framework src="com.google.firebase:firebase-inappmessaging-display:$FIREBASE_INAPPMESSAGING_VERSION" />
    </platform>

</plugin>
