<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-inappmessaging"
      version="2.0.2">

    <name>cordova-plugin-firebase-inappmessaging</name>
    <description>Cordova plugin for Firebase In-App Messaging</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-inappmessaging</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-inappmessaging/issues</issue>

    <dependency id="cordova-plugin-firebase-analytics" version="~2.0.0"/>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <platform name="ios">
        <preference name="POD_FIREBASE_VERSION" default="~> 6.1.0"/>

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="Firebase/InAppMessagingDisplay" spec="$POD_FIREBASE_VERSION" />
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_INAPPMESSAGING_VERSION" default="17.1.+"/>

        <framework src="com.google.firebase:firebase-inappmessaging-display:$FIREBASE_INAPPMESSAGING_VERSION" />
    </platform>

</plugin>
