<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-inappmessaging"
      version="1.0.0">

    <name>cordova-plugin-firebase-inappmessaging</name>
    <description>Cordova plugin for Firebase In-App Messaging</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-inappmessaging</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-inappmessaging/issues</issue>

    <dependency id="cordova-plugin-firebase-analytics" version="~1.1.0"/>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">
        <framework src="Firebase/InAppMessagingDisplay" type="podspec" spec="~> 5.0"/>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_INAPPMESSAGING_VERSION" default="17.1.+"/>

        <framework src="com.google.firebase:firebase-inappmessaging-display:$FIREBASE_INAPPMESSAGING_VERSION" />
    </platform>

</plugin>
